.container {
    margin-top: 2rem;
}

.details-container {
    margin: 1em;
}

.imgCarrouselContainer {
    margin: 3rem;
}

.container-2 {
    margin-top: 1rem;
    padding: 2rem;
}


/*
Para que se visualize el mapa

agm-map {
    height: 600px;
    width: 600px;
} */