<div class="container" fxLayoutAlign="space-around center">
    <mat-card class="example-card">
        <!--Cabecera con los datos del vendedor y pdto-->
        <mat-card-header>
            <div mat-card-avatar class="example-header-image details-container">
                <img mat-card-image img src={{product.user.userIMG}} alt="Photo of the current product" class="imgProduct">
            </div>
            <div>
                <mat-card-title>Producto: {{product.name}}</mat-card-title>
                <mat-card-subtitle>Precio: {{product.price}} €</mat-card-subtitle>
                <mat-card-subtitle>Vendedor/Usuario: {{product.user.userName}}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <!--Fin cabecera con los datos del vendedor y pdto-->

        <!--Carrousel de imagenes del pdto-->
        <carousel>
            <div *ngFor="let imgURL of product.imgCarrousel" class="carousel-cell">
                <img src={{imgURL}} />
            </div>
        </carousel>

        <mat-card-content>
            <div class="container-2">
                <p>
                    {{product.description}}
                </p>
            </div>

        </mat-card-content>
        <!--TODO: Paypal y maps-->
        <mat-card-actions>
            <!-- 
                No integro al final el mapa porque no quiero dar mi número de tarjeta
                
                <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeID"></agm-marker>
            </agm-map> -->
            <div class="container-2" #paypal>

            </div>
            <!-- <script>
                paypal.Buttons().render('body');
            </script> -->

        </mat-card-actions>
    </mat-card>
</div>

<!-- <div class="container">
    <mat-card primary>
        <mat-card-header fxLayout="row" fxLayoutAlign="start center">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Vendedor: {{product.user.userName}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: {{product.price}} €</mat-card-subtitle>
        </mat-card-header>
        <hr/>
        <div fxLayout="row" fxLayoutAlign="space-around center" id="imgDetailsProduct-container">
            <img mat-card-image img src={{product.imgURL}} alt="Photo of the current product" class="imgProduct">
            <mat-card-content>
                <p>
                    {{product.description}}
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-button (click)="goToDetailsPage()">DETAILS</button>
            <button mat-button>
                <mat-icon mat-list-icon>star</mat-icon>
            </button>
            <button mat-button>
                <mat-icon mat-list-icon>share</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div> -->