<section>
    <article fxLayout="column" fxLayoutAlign="space-around center">
        <product-component *ngFor="let productItem of productList" [product]="productItem" (productDetails)="sendProductIndexAndNavigate($event)"></product-component>
    </article>
</section>