#containerLogin {
    border-radius: 25px;
    padding: 2.5rem;
    background-color: rgb(155, 180, 197);
}

.example-form {
    padding: 2rem;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#btnLogin {
    width: 25rem;
    line-height: 2.3rem;
    margin-top: 1.6rem;
}

.succesStatus {
    color: rgb(61, 0, 141);
    font-size: 1rem;
}

.errorStatus {
    color: rgb(165, 25, 25);
    font-size: 0.7rem;
}