<div fxLayout="column" fxLayoutAlign="space-evenly center" id="containerLogin">
    <form [formGroup]="formLogin" class="example-form" (ngSubmit)="verifyUser()">
        <div class="itemContainer">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput type="text" class="form-control" formControlName="userNameFCN" [ngClass]="loginStatusUser" (click)="resetStatus()" />
            </mat-form-field>
        </div>
        <div class="itemContainer">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="text" class="form-control" formControlName="userPassFCN" [ngClass]="loginStatusPass" (click)="resetStatus()" />
            </mat-form-field>
        </div>
        <div fxLayout="row wrap">
            <button id="btnLogin" type="submit" mat-flat-button color="primary" fxFlex="grow">
                LOGIN
            </button>

            <!--
                //El botón no se activa hasta que no estén todos los campos correctos y validados:
                <button id="btnLogin" type="submit" [disabled]="formLogin.invalid" mat-flat-button color="primary" fxFlex="grow">
                LOGIN
            </button>
            -->
        </div>
    </form>


</div>