<!--Menu Lateral-->
<mat-sidenav-container class="example-container" autosize>
    <!--Menu lateral izquierdo-->
    <mat-sidenav opened mode="side" class="example-sidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <mat-nav-list role="list">
            <a mat-list-item role="listitem"><span>Options</span></a>

            <mat-list-item class="parent" role="listitem">
                <span class="full-width" *ngIf="isExpanded || isShowing" (click)="showAllProducts()">All products</span>
                <mat-icon mat-list-icon>category</mat-icon>
                <mat-icon class="menu-button" (click)="showSubSubMenu = !showSubSubMenu" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>
            <!--Submenu-->
            <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="showSubSubMenu && (isShowing || isExpanded)">
                <mat-list-item (click)="showDecorationProducts()">
                    <span>Decoration</span>
                    <mat-icon mat-list-icon>house</mat-icon>
                </mat-list-item>
                <mat-list-item (click)="showTecnologyProducts()">
                    <span>Tecnology</span>
                    <mat-icon mat-list-icon>tablet_mac</mat-icon>
                </mat-list-item>
                <mat-list-item (click)="showBooksProducts()">
                    <span>Books</span>
                    <mat-icon mat-list-icon>menu_book</mat-icon>
                </mat-list-item>
                <mat-list-item (click)="showStuffProducts()">
                    <span>Stuff</span>
                    <mat-icon mat-list-icon>toys</mat-icon>
                </mat-list-item>
            </div>

            <a mat-list-item role="listitem" (click)="showCustomFavoriteProducts()">
                <span class="full-width " *ngIf="isExpanded || isShowing ">Favorites</span>
                <mat-icon mat-list-icon>star</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!--Menu lateral derecho-->
    <mat-sidenav-content class="sidenav-content">
        <product-item-list></product-item-list>
    </mat-sidenav-content>
</mat-sidenav-container>