<!--Barra de navegación-->
<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="example-icon exit-to-app icon" aria-label="Example icon-button with exit-to-app icon" (click)="unlogUser()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    <h1 class="example-app-name">Welcome {{user.userName}}</h1>
</mat-toolbar>