<!--Lo centramos todo-->
<div [ngStyle]="{'background-image': 'url(' + 'assets/Images/background.jpg' + ')'}" id="mainContainerLoginPage">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <!--LOGOTIPO-->
        <img id="imgTituloLogin" src="assets/Images/titulo.png" />

        <!--MENU PRINCIPAL-->
        <menuLogin-component></menuLogin-component>
    </div>
</div>