.container {
    margin-top: 5rem;
    margin: 0.15rem;
    width: 50rem;
    height: 25rem;
    ;
}

#imgDetailsProduct-container {
    margin-top: 1.7rem;
}

.imgProduct {
    border-radius: 25%;
    padding: 1rem;
    margin: 0.5rem;
    width: 10rem;
    height: 10rem;
}