<div class="container">
    <mat-card primary>
        <mat-card-header fxLayout="row" fxLayoutAlign="start center">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Vendedor: {{product.user.userName}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: {{product.price}} €</mat-card-subtitle>
        </mat-card-header>
        <hr/>
        <div fxLayout="row" fxLayoutAlign="space-around center" id="imgDetailsProduct-container">
            <img mat-card-image img src={{product.imgURL}} alt="Photo of the current product" class="imgProduct">
            <mat-card-content>
                <p>
                    {{product.description}}
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-button (click)="goToDetailsPage()">DETAILS</button>
            <button mat-button>
                <mat-icon mat-list-icon>star</mat-icon>
            </button>
            <button mat-button>
                <mat-icon mat-list-icon>share</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

</div>